.recipes-list {
    display: flex;
    flex-direction: column;
}

.recipes-list section {
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;

    height: 100px;
}

.recipe-info {
    display: block;
}

/* contact */

.main-contact {
    display: flex;
    flex-direction: column;
}

.contact {
    margin-top: 20px;
    margin-left: 50px;
    padding: 0;
    text-align: left;
}

.contact-socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 2em;
}

.contact-socials a {
    transition: color 0.2s linear 0ms;
}

/* recipes page */

.main-recipes {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.title-search {
    margin-top: 20px;
    margin-left: 50px;
    padding: 0;
    text-align: left;
}

.recipes-search {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 0;

    height: 100%;
    width: 90%;
}

.recipe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%; 
}

.recipe-item {
    /*
    flex: 1;
    */

    display: flex;
    flex-direction: column;
    row-gap: 5px;

    width: 230px;
    height: 320px;

    border: 2px solid black;
    border-radius: 8px;
}

.recipe-item img {
    width: 100%;
}

.recipe-item-info{
    margin: 5px;
    padding: 0;
}

.recipes-search a {
    color: black;
    text-decoration: none;
}
