.recipes-list {
    display: flex;
    flex-direction: column;
}

.recipes-list section {
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;

    height: 100px;
}

.recipe-info {
    display: block;
}

/* contact */

.main-contact {
    display: flex;
    flex-direction: column;
}

.contact {
    margin-top: 20px;
    margin-left: 50px;
    padding: 0;
    text-align: left;
}

.contact-socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 2em;
}

.contact-socials a {
    transition: color 0.2s linear 0ms;
}

/* recipes page */
.recipes-search {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 90%;
}

.recipes-search h1 {
    color: rgb(69, 69, 69);
}