.recipes-list {
    display: flex;
    flex-direction: column;
}

.recipes-list section {
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;

    height: 100px;
}

.recipe-info {
    display: block;
}