.main-contact {
    display: flex;
    flex-direction: column;
}

.contact {
    margin: 0;
    padding: 0;
    text-align: left;
}

.contact-socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 2em;
    transition: color 0.2s linear 0ms;
}

.contact-socials button {
    color: rgb(97, 97, 175);
}

.contact-socials button:hover {
    color: rgb(66, 66, 142);
}


