@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin: 0;
    padding: 0;

    word-wrap: break-word;
    background-color: lavenderblush;

    font-size: 16px;
    font-family: "Mulish";
}

.main-content {
    margin: 30px;
}

