.recipe-main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 10px;
    column-gap: 40px;

    margin: 0 auto;
    margin-top: 50px;
    padding: 0;

    width: 90%;
}

.recipe-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.recipe-title h2 {
    margin-bottom: 2px;
}

.tags {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Mulish", sans-serif;
}

.tags span:not(:last-child)::after {
    content: "|";
    margin: 0 5px;
}

.recipe-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    height: fit-content;
    padding: 10px;
    background-color:snow;
    border: 1px solid gray;
    border-radius: 10px;
}

.recipe-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.recipe-image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;  
    
    margin: 0 auto;
    padding: 0;
}

.recipe-image img {
    /* to-do: change that */
    max-width: 300px;
}

.ingridients {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    
    max-width: fit-content;

    position: sticky;
    top: 10px;
    padding: 5px;

    background-color:snow;
    border: 1px solid gray;
    border-radius: 10px;
}

.recipe-steps {
    display: flex;
    flex-direction: column;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;  
}

.lactose-free {
    color: darkorchid;
    background-image: -webkit-linear-gradient(left, darkorchid, slateblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

